h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #1065c0;
  padding: 2%;
}
hr {
  width: 20%;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #1a8ae5;
}

.service {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #0747a1;
  height: 230px;
  border: #0747a1;
  padding: 0%;
  font-size: 18px;
  font-weight: 600;
}
p{
  font-family: "Roboto", sans-serif;
  /* font-weight: 600; */
}

.acc {
  padding-right: 0px;
  padding-left: 10px;
}
.audit {
  padding-right: 10px;
  padding-left: 0px;
}
.service > img {
  height: 158px;
  width: 158px;
}
.service>img:hover {
  height: 180px;
  width: 180px;
}
