.team {
  background: #fff;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.team .member {
  margin-bottom: 10px;
  margin-top: 20px;
  overflow: hidden;
}

/* .tcol{
  padding-right: 15px;
  padding-left: 15px;
}
   */
.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: -40px;
  right: 0;
  height: 30px;
  opacity: 0;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
  background: #0747a19d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #fff;
  margin: 0 12px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #64b7f6;
}

.team .member .social i {
  font-size: 16px;
  margin: 0 1px;
}

.team .member .member-info h5 {
  font-weight: 550;
  margin: 15px 0px 5px 0;
  font-size: 14px;
  color: #1065c0;
  text-align: center;
}

.team .member .member-info span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
  color: #64b7f6;
  text-align: center;
}

.team .member .member-info p {
  font-size: 12px;
  line-height: 13px;
  font-family: "Roboto", sans-serif;
  color: #0747a1;
  text-align: center;
}

.team .member:hover .social {
  bottom: 0;
  opacity: 1;
  transition: bottom ease-in-out 0.1s;
}

.team .member:hover .social a,
.team .member:hover .social i {
  line-height: 0;
  font-size: 18px;
}
