
.team {
  background: #fff;
  padding-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.title{
  color: #1065c0;
  font-weight: 500;
  text-transform: uppercase;
}
.tspan {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
  color: #68A4C4;
}
.teaminfo {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color:gray;
}

