.news {
  /* background-color:#90cbf9;  */
  background-color: #bbdffbd2;
  height: auto;
  width: 100%;
  outline: 1px;
  outline-color: invert;
  font-family: "Roboto", sans-serif;
  /* padding-left:4%;
    padding-bottom: 2%;
    padding-right: 4%; */
    padding-top: 10px;
}
h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #1065c0;
  font-size: x-large;
}
hr {
  width: 20%;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #1a8ae5;
}
.date {
  text-align: center;
  color: #64b7f6;
}
h3 {
  color: #1a8ae5;
}
.updates {
  display: flex;
}
.newsp {
  color: #1065c0;
  font-size: 18px;
}

.vl {
  border-left: 2px solid #1a8ae5;
  height: 40px;
  margin-left: 10px;
  margin-right: 19px;
}
